body{
    background-color: rgb(221, 221, 221);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#information{
    width: 75%;
    margin-left: 22%;
}

.profile-picture{
    float: left;
    margin-right: 20px;
}

.profile-info{
    float:left;
}

#profile-card{
    background-color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    /*display: grid;
    grid-area:  'profile-picture profile-info'
                'profile-picture profile-info'
                'profile-picture profile-info';*/
    
    height: 450px;
    align-content: justify;
    width: 75%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #aaa;
    padding-bottom: 100px;
}

.view-details{
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -20px;
    padding: 5px;
    border: none;
    background-color: #00f;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
}

.view-details:hover{
    background-color: #44f;
}

li{
    list-style: none;
    margin-left: -40px;
}

.car-card{
    background-color: #fff;
    height: 200px;
    
    width: 32%;
    float: left;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #aaa;
    margin: 10px;
    
    padding-bottom: 300px;
}

.car-price{
    color: #fff;
    background-color: rgb(31, 219, 157);
    border-radius: 10px;
    float: right;
    margin-right: 10px;
    padding: 7px;
    margin-bottom: -20px;
}

.detail-vallue{
    color: #000;
}

.car-card img{
    height: 200px;
    width: 100%;
    object-fit: fill;
    border-radius: 10px 10px 0px 0px;
}

.car-year-make{
    font-weight: bold;
    padding-bottom: 20px;
    padding-left: 10px;
}

.car-model{
    padding-top: 10px;
    color: #ccc;
    padding-left: 10px;
}

.user-tag{
    color: #bbb;
}



.detail-title{
    color: #bbb;
    font-weight: bold;
    margin-right: 25px;
}

.user-picture{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.user-details{
    font-weight: bold;
}