#navbar{
    background-color: rgb(19, 12, 53);
    
    color: #fff;
    display : inline-block;
    width: 100%;
    
    
    margin-bottom: 10px;
}

body{
    background-color: rgb(221, 221, 221);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.navitem{
    margin-left: 100px;
    margin-right: 200px;
    margin-top:-20px;
    text-decoration: none;
    align-self: center;
}

.footer-container{
    position:absolute;
    bottom:-220px;
}

header{
    padding: 7px;
    margin-right: 15px;
}

header a{
    margin-left:75px;
    color: #fff;
    text-decoration: none;
}


header a:hover{
    color: #fff;
    text-decoration: underline;
}

#car{
    font-size: 12px;
}

#business-name{
    margin-left:5px;
}

.account-ctrls{
    float: right;
}

