body{
    background-color: rgb(221, 221, 221);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#car-card{
    display: grid;
    grid:
        'car-detail-image car-detail car-detail'
        'car-detail-image car-details car-details'
        'car-detail-image car-btns car-btns';
    width: 75%;
    height: 450px;
    align-content: justify;
    margin-left: 15%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #aaa;
}

#car-model{
    color: rgb(121, 121, 121);
}

#add-favourite{
    border:none;
    background: none;
    float:right;
}

.car-picture{
    width: 450px;
    height: 450px;
    object-fit: fill;
    border-radius: 10px 0px 0px 10px;
}

.detail-title{
    color: rgb(121, 121, 121);
}

#favourite-car{
    background: none;
    border: none;
    
}

#favourite-car .immutable{
    background: none;
    border: none;
    float: right;
}

#email-owner{
    border: none;
    background-color: rgb(0, 180, 141);
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    color: #fff;
    border-radius: 5px;
}

#email-owner:hover{
    background-color: rgb(2, 235, 184);
}

#heart{
    color: #f00;
    border-radius: 50%;
    margin-right: 15px;
    padding: 5px;
    border: solid 1px rgb(187, 186, 186);
    float: right;
}

#car-card{
    background-color: #fff;
}

#car-detail{
    padding-left: 20px;
    padding-right: 30px;
}

#car-values{
    width: 100%;
    display:  grid;
    grid-area: 
    'car-info car-info'
    'car-info car-info';
}

.detail-title{
    float:left;
    margin-right:15px;
    font-weight: bold;
}

.detail-value{
    float:right;
    margin-left:15px;
    margin-right:15px;
}