{% extends "base.html" %}

{% block main %}
<div id="app">
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <app-header></app-header>
    <main>
        <div class="container">
            <!-- component matched by the route will render here -->
            <FlashMessage></FlashMessage>
            <router-view></router-view>
        </div>
    </main>

    
</div>
{% endblock %}